{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}My Book Library{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">My Book Library</h1>
    <p class="description">This is my list of books.</p>
    <div class="container text-center add">
        <a href="{{ url_for('add_book') }}" class="button">Add/Edit a book</a>
        <a href="{{ url_for('import_book') }}" class="button">Import a new book</a>
        <div>
            <br>
            <form class="form-inline mr-auto" method="POST" action="{{ url_for('home') }}" >
                <input name="title" class="form-control mr-sm-2" type="text" placeholder="Search by title" aria-label="Search">
                <input name="author" class="form-control mr-sm-2" type="text" placeholder="Search by author" aria-label="Search">
                <input name="lang" class="form-control mr-sm-2" type="text" placeholder="Search by language" aria-label="Search">
                <input name="year_from" class="form-control mr-sm-2" type="number" placeholder="Search by year from" aria-label="Search">
                <input name="year_to" class="form-control mr-sm-2" type="number" placeholder="Search by year to" aria-label="Search">
                <button class="button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <table class="books-table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>ISBN number</th>
            <th>No. of pages</th>
            <th>Cover</th>
            <th>Language</th>
            <th>Delete</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.isbn_no }}</td>
            <td>{{ book.pages }}</td>
            <td><a href="{{ book.img_url }}"><img src="{{ book.img_url }}"></a></td>
            <td>{{ book.language }}</td>
            <td><a href="{{ url_for('delete_book', book_id=book.id) }}" class="button delete-button">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}


